@model Models.EF.User

@{
    ViewBag.Title = "Thông tin cá nhân tài khoản " + Model.user_email;
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<section class="section">
    <div class="card">
        <div class="card-header">
            @ViewBag.Title <br /> <br />
            <button class="btn btn-danger" onclick="history.back()"><i class="fa fa-arrow-circle-left"></i>&nbsp;Trở về</button>
            <a class="btn btn-primary" href="@Url.Action("Edit","UsersAdmin", new { id = Model.ID })"><i class="fa fa-edit"></i>&nbsp;Sửa người dùng</a>
        </div>
        <div class="card-body">

            <div>
                <dl class="dl-horizontal">
                    <dt>
                        <b>Tài khoản</b>
                    </dt>

                    <dd>
                        @(Model.user_login == null ? "Chưa cập nhật" : Model.user_login)
                    </dd>

                    <dt>
                        <b>Mật khẩu</b>
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.user_pass)
                    </dd>

                    <dt>
                        <b>Tên hiển thị</b>
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.user_nicename)
                    </dd>

                    <dt>
                        <b>Email</b>
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.user_email)
                    </dd>

                    <dt>
                        Trạng thái
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.user_status)
                    </dd>

                </dl>
            </div>
        </div>
    </div>

</section>

