@model IEnumerable<Models.EF.User>

@{
    ViewBag.Title = "Quản lý Admin";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<section class="section">
    <div class="card">
        <div class="card-header">
            @ViewBag.Title <br /> <br />
            <a href="/Admin/UsersAdmin/Create" class="btn btn-danger"><i class="fa fa-plus"></i>&nbsp;Thêm admin</a>
        </div>
        <div class="card-body">
            <table class="table table-striped" id="table1">
                <thead>
                    <tr>
                        <th>Email</th>
                        <th>Tên hiển thị</th>
                        <th>Số điện thoại</th>
                        <th>Địa chỉ</th>
                        <th>Zalo</th>
                        <th>Facebook</th>
                        <th>Trạng thái</th>
                        <th>Ngày tạo</th>
                        <th>Ngày đăng nhập</th>
                        <th>Tùy chọn</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.user_email</td>

                            <td>@item.user_nicename</td>
                            <td>
                                @(item.UserMetas.FirstOrDefault(t => t.meta_key == "phonenumber").meta_value != null ? item.UserMetas.FirstOrDefault(t => t.meta_key == "phonenumber").meta_value : "Chưa cập nhật")
                            </td>
                            <td>
                                @(item.UserMetas.FirstOrDefault(t => t.meta_key == "address").meta_value != null ? item.UserMetas.FirstOrDefault(t => t.meta_key == "address").meta_value : "Chưa cập nhật")
                            </td>
                            <td>
                                @(item.UserMetas.FirstOrDefault(t => t.meta_key == "zalo").meta_value != null ? item.UserMetas.FirstOrDefault(t => t.meta_key == "zalo").meta_value : "Chưa cập nhật")
                            </td>
                            <td>
                                @(item.UserMetas.FirstOrDefault(t => t.meta_key == "fb").meta_value != null ? item.UserMetas.FirstOrDefault(t => t.meta_key == "fb").meta_value : "Chưa cập nhật")
                            </td>
                            <td>
                                @if (item.user_status == Commons.CommonConstants.user_status_ondinh)
                                {
                                    <span class="badge bg-success">Hoạt động ổn định</span>
                                }
                                else if (item.user_status == Commons.CommonConstants.user_status_uutien)
                                {
                                    <span class="badge bg-success">Ưu tiên</span>
                                }
                                else
                                {
                                    <span class="badge bg-danger">Spam</span>
                                }
                            </td>
                            <td>
                                @(item.UserMetas.FirstOrDefault(t => t.meta_key == "date").meta_value != null ? item.UserMetas.FirstOrDefault(t => t.meta_key == "date").meta_value : "Chưa cập nhật")
                            </td>
                            <td>
                                @(item.UserMetas.FirstOrDefault(t => t.meta_key == "date_login").meta_value != null ? item.UserMetas.FirstOrDefault(t => t.meta_key == "date_login").meta_value : "Chưa cập nhật")
                            </td>
                            <td>
                                <a href="@Url.Action("Details","UsersAdmin", new { id = item.ID })"><i class="fa fa-eye"></i></a> |
                                <a href="@Url.Action("Delete","UsersAdmin", new { id = item.ID })"><i class="fa fa-trash"></i></a> |
                                <a href="@Url.Action("Edit","UsersAdmin", new { id = item.ID })"><i class="fa fa-edit"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

</section>

