@model Models.EF.Term

@{
    ViewBag.Title = "Thêm danh mục";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<section class="section">
    <div class="card">
        <div class="card-header">
            @ViewBag.Title <br /> <br />
            <button class="btn btn-danger" onclick="history.back()"><i class="fa fa-arrow-circle-left"></i>&nbsp;Trở về</button>
        </div>
        <div class="card-body">

            @using (Html.BeginForm("Create", "TermsAdmin", FormMethod.Post))
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        <b>Tên danh mục</b>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.term_name, new { htmlAttributes = new { @class = "form-control", @required= "required" } })
                            @Html.ValidationMessageFor(model => model.term_name, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Thêm danh mục" class="btn btn-danger" />
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>

</section>


