@model Models.EF.Pay

@{
    ViewBag.Title = "Xem thông tin hóa đơn của " + Model.User.user_email;
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<section class="section">
    <div class="card">
        <div class="card-header">
            @ViewBag.Title <br /> <br />
            <button class="btn btn-danger" onclick="history.back()"><i class="fa fa-arrow-circle-left"></i>&nbsp;Trở về</button>
            <a href="@Url.Action("Edit","PaysAdmin", new { id = Model.ID })" class="btn btn-primary" ><i class="fa fa-edit"></i>&nbsp;Sửa hóa đơn</a>
        </div>
        <div class="card-body">
            <div>
                <dl class="dl-horizontal">
                    <dt>
                        <b>Tổn giá</b>
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.pay_sum)
                    </dd>

                    <dt>
                        <b>Ngày tạo</b>
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.pay_date)
                    </dd>

                    <dt>
                        <b>Trạng thái</b>
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.pay_status)
                    </dd>

                    <dt>
                       <b>Các sản phẩm</b>
                    </dt>

                    <dd>
                        None
                    </dd>

                    <dt>
                        <b>Hình thức</b>
                    </dt>

                    <dd>
                        @Model.pay_form
                    </dd>

                    <dt>
                        <b>Thuộc email</b>
                    </dt>

                    <dd>
                        @Model.User.user_email
                    </dd>

                </dl>
            </div>
        </div>
    </div>

</section>

